/* header styles goes here*/
header{
    background: url('/assets/main-header.svg') #5fcf80;
    min-height: 50vh;
    padding:70px 2px;
}

header #headerLeft{
    color: #fff;
    padding: 15px 20px;
}

header #headerLeft h1{
    font-weight: 700;
    font-size: 46px;
}

header #headerLeft p{
    padding-top: 10px;
    font-weight: 600;
}

header #headerRight{
    padding: 10px;
}

header #headerRight .head{
    padding: 20px 10px;
    background: #637a91;
    border-radius: 5px 5px 0 0;
}

header #headerRight .head h5{
    color: #fff;
    font-weight: 700;
    margin-bottom: 0px;
}

header #headerRight .row{
    padding: 20px 10px;
    background: #fff;
}

header #headerRight .form-group{
    padding: 10px;
}

header #headerRight .form-group label{
    font-weight: 700;
    color: #40484a;
}

header #headerRight .form-group input{
    background-color: #f9fafa;
    transition: .2s;
    margin: 0;
    font-size: 1rem;
    padding: .75rem 1rem;
    outline: none;
    border: 2px solid #d4d9dd;
    border-radius: 4px;
    box-sizing: border-box;
    color: #40484a;
    outline: none;
}
header #headerRight .form-group input:focus{
    background-color: #fff;
    border-color: #8c9aa6;
}
header #headerRight button{
    background-color: #3ac162;
    border-color: #3ac162;
    padding: 10px;
}
header #headerRight div.hr{
    border-bottom: 1px solid #c2c3c6;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
header #headerRight div.text-center.col-12{
    margin: 10px 0px;
    padding: 5px 10px;
}

header #headerRight div.text-center.col-12 p{
    padding-top: 10px;
    font-size: 12px;
}

/* How heading goes here */
#how {
    padding-top: 100px;
    padding-bottom: 70px;
}

#how div.head h2{
      font-weight: 700;
}

#how div.head p{
    font-size: 16px;
    margin-bottom: 70px;
}

#how div.how-body div.row{
    margin-top: 50px;
    margin-bottom: 50px;
}

#how div.how-body div.row div.col-md-5{
    margin: 5px 10px;
}

#how div.how-body .how-learn{
    background: #fbaea8 url('/assets/home-learn.png') no-repeat center center;
    background-size: 160px 160px;
    border-radius: 3px;
    height: 200px;
}

#how div.how-body .how-practice{
    background: #c1e0f5 url('/assets/home-pratice.png') no-repeat center center;
    background-size: 160px 160px;
    border-radius: 3px;
    height: 200px;
}

#how div.how-body .how-earn{
    background: #b8f5d2 url('/assets/home-earn.svg') no-repeat center center;
    border-radius: 3px;
    background-size: 160px 160px;
    height: 200px;
}

/* stuff styles here */
.stuff{
    background: #fff;
}

#stuff{
    padding: 30px 10px 100px 10px;
}

#stuff div.head h2{
    font-weight: 700;
}

#stuff div.head p{
    margin-bottom: 70px;
}

#stuff div.stuff-card{
    padding: 20px;
}
#stuff div.stuff-card-head.home-start{
    padding: 20px;
    background: url("/assets/home-start.png");
}

#stuff div.stuff-card-head.home-pick{
    padding: 20px;
    background: url("/assets/home-pick.png");
}

#stuff div.stuff-card-head.home-test{
    padding: 20px;
    background: url("/assets/home-test.png");
}

#stuff div.stuff-card-head{
    padding: 20px;
    background-size: 160px 160px !important;
    width: 160px;
    height: 160px;
    margin: 20px auto;
}


#stuff div.stuff-card h5{
    font-weight: 600;
    padding-bottom: 10px;
}

#stuff div.stuff-card{
    font-size: 15px;
    font-weight: 600;
}

/* About us css start from here */
section#about{
    background-image: url('/assets/home-about.jpg');
    background-position-x: 65%;
    background-position-y: 30%;
    color: #333;
}

#about article{
    padding: 60px 30px;

    background-size: cover;

    min-height: 100vh;
}
#about div.col{
    padding: 1vw;
}

#about div.col p.about-heading{
    margin-bottom: 50px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 35px;
}
#about div.col p.about-heading span{
    font-weight: bold;
}
#about div.col p.p-first{
    font-size: 20px;
    font-weight: 400;
    color: #5f727f;
}
#about div.col div.hr-about{
    border: 1px solid #4bbdd5;
    background: #4bbdd5;
    margin: 20px;
    margin-left: 0px;
    width: 310px;
}
#about div.col p.p-second{
    font-size: 14px;
    margin-right: 5vw;
    font-weight: 300;
    color: #4e555a;
}
#about div.col button{
    font-size: 20px;
    margin-top: 30px;
    padding: 8px 30px;
    border: 1px solid #fff;
    border-radius: 2px;
    background: transparent;
    color: #fff;
    -webkit-transition: all  .3s ease-out;
    -moz-transition: all  .3s ease-out;
    transition: all  .3s ease-out;
}
#about div.col button:hover{
    background: #fff;
    color: #4bbdd5;
}

/* Semi footer styles goes here*/
.semi{
    background: #5fcf80;
    padding: 80px 10px;
}

.semi-container{
    padding: 30px 20px;
    background: #fff;
    border-radius: 5px;
}

.semi-container h5{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
}

.semi-container p{
    font-size: 19px;
}