<aside th:fragment="aside">
    <div class="nav-collapse" tabindex="5000" id="sidebar">
        <ul class="sidebar-menu" id="nav-accordion" >
            <li><p class="centered">
                <a>
                    <img class="img-cricle"/>
                </a>
            </p>
                <h5 class="centered"><span sec:authentication="name">Bob</span>
                </h5>
            </li>
            <li class="mt">
                <a href="/admin/home">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <div>
                    <a id="trackAside">
                        <i class="fa fa-dashboard"></i>
                        <span>Tracks / Path</span>
                    </a>
                </div>
                <ul class="sub" id="trackAsideSub">
                    <li>
                        <a href="/admin/tracks/add">Add Track</a>
                    </li>
                    <li>
                        <a href="/admin/tracks">List Tracks</a>
                    </li>
                    <li>
                        <a href="/admin/paths/add">Add Path</a>
                    </li>
                    <li>
                        <a href="/admin/paths">List Paths</a>
                    </li>
                </ul>
            </li>
            <li class="sub-menu parent-li" >
                <div>
                    <a id="blogAside">
                        <i class="fa fa-dashboard"></i>
                        <span>Blog</span>
                    </a>
                </div>
                <ul class="sub" id="blogAsideSub">
                    <li>
                        <a href="/admin/blogs/add">Add Blog</a>
                    </li>
                    <li>
                        <a href="/admin/blogs">List Blogs</a>
                    </li>
                </ul>
            </li>
            <li class="sub-menu parent-li" >
                <div>
                    <a id="courseAside">
                        <i class="fa fa-dashboard"></i>
                        <span>Courses</span>
                    </a>
                </div>
                <ul class="sub" id="courseAsideSub">
                    <li>
                        <a href="/admin/courses/add">Add Courses</a>
                    </li>
                    <li>
                        <a href="/admin/courses">List Courses</a>
                    </li>
                </ul>
            </li>
            <li class="sub-menu parent-li" >
                <div>
                    <a id="categoryAside">
                        <i class="fa fa-dashboard"></i>
                        <span>Categorys / Languages</span>
                    </a>
                </div>
                <ul class="sub" id="categoryAsideSub">
                    <li>
                        <a href="/admin/categorys">Category's</a>
                    </li>
                    <li>
                        <a href="/admin/langauges">Languages</a>
                    </li>
                </ul>
            </li>
            <li class="sub-menu parent-li">
                <div>
                    <a id="mentorAside">
                        <i class="fa fa-dashboard"></i>
                        <span>Mentors</span>
                    </a>
                </div>
                <ul class="sub" id="mentorAsideSub">
                    <li>
                        <a>Add Mentors</a>
                    </li>
                    <li>
                        <a>List Mentors</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</aside>