<footer class="fluid-container" th:fragment="footer">
    <div class="row no-gutters align-items-center    justify-content-center">
        <div class="col-12 col-lg-3">
            <h1>Swadhyay</h1>
            <p class="text-muted">@Copyright 2017-2018 </p>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <p class="text-muted">About</p>
            <p class="text-muted">Careers</p>
            <p class="text-muted">Terms</p>
            <p class="text-muted">Privacy</p>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <p class="text-muted">Blog</p>
            <p class="text-muted">Press Kit</p>
            <p class="text-muted">Contact</p>
            <p class="text-muted">Catalog</p>
        </div>
    </div>
</footer>