<nav class="navbar navbar-expand-lg fixed-top" th:fragment="nav">
    <a class="navbar-brand" href="/"> SWADHYAY </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="text-success"><i class="fa fa-list"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/courses">Library</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/blogs/">Blogs</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/tracks/">Tracks</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/fourms/">Fourms</a>
            </li>

            <li>
                <a class="nav-link" href="/classroom" sec:authorize="isAuthenticated()">Classroom</a>
            </li>

            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" href="/auth/signin">Signin</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/classroom/settings"><span sec:authentication="name">Bob</span></a>
            </li >
            <li sec:authorize="isAuthenticated()"><a class="nav-link" href="/auth/signout">Logout</a></li>
        </ul>
    </div>
</nav>