#main-container{
    margin-top: 60px;
    min-height: 90vh;
}

#blog-header{
    height: 60vh;
    margin: -10px -15px 20px -15px;
    /*background-image: url('../../../assets/bg-head.jpg');*/
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 15vh;
}

#blog-header #blog-header-text{
    color: white;
    background: transparent;
    border: 6px solid white;
    font-size: 32px;
    padding: 15px;
    font-weight: 700;
    width: 270px;
    margin: auto;
}

#blogs-container .category-button{
    display: inline;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid rgba(246, 72, 28, 0.81) ;
    color: rgba(246, 72, 28, 0.81);
    margin: 10px 20px;
    border-radius: 20px;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

#blogs-container .category-button:hover{
    border: 1px solid transparent ;
    background-color: rgba(246, 72, 28, 0.81);
    color: white;
}

#rated-posts{
    padding-top:60px;
}

#rated-posts #rated-post-container{
    margin: 10px;
    border: .3px solid #eee;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    box-shadow:1px 2px 2px -2px hsla(0, 0%, 70%, .14);
}

#rated-posts #rated-post-container:hover{
    box-shadow:5px 5px 5px -2px hsla(0, 0%, 70%, .14);
    transform: translateY(-8px);
    cursor: pointer;
}

#rated-posts #rated-post-image{
    padding: 0px;
}

#rated-posts #rated-post-image img{
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

#rated-posts #rated-post-text{
    font-size: 12px;
}

#posts #post-container{
    margin: 60px auto;
    border: .3px solid #eee;
    padding: 0px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    width: 700px;
    box-shadow:5px 10px 10px -2px hsla(0, 0%, 70%, .14);
}


@media only screen and (max-width: 768px) {
    #posts #post-container{
        width: 450px;
        margin: 60px auto;
    }
}

@media only screen and (max-width: 450px) {
    #posts #post-container{
        width: 100%;
        margin: 60px auto;
    }
}

#posts #post-container:hover{
    box-shadow:15px 38px 36px -2px hsla(0, 0%, 70%, .14);
    transform: translateY(-30px);
    cursor: pointer;
}

#posts #post-container #post-container-text{
    padding:0px;
    margin-left:0px;
    border-left-color: transparent;
}

#posts #post-container #post-container-image{
    padding-right:0px;
    padding-left:0px;
    margin-right:0px;
}

#posts #post-container #post-container-image .type{
    padding: 5px 8px;
    border: 1px solid #fff;
    border-radius: 20px;
    font-family: Helveticaneue, sans-serif;
    color: rgba(246, 72, 28, 0.81);
    border-color: rgba(246, 72, 28, 0.81);
    font-size: 10px;
    font-weight: 700;
    font-weight: 600;
    z-index: 2;
    text-align: center;
    width: initial;
    position: absolute;
    margin: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#posts #post-container #post-container-image .post-image{
    max-width: 100%;
    height: 300px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}
#posts  #post-container-text-header.accessories{
    width: 100%;
}

#posts  #post-container-text-header .text-block {
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 3px;
    margin-left: 5px;
    font-family: Karla, sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#posts  #post-container-text-header .text-block.with {
    margin-left: 25px;
    color: #c2c2c2;
}

#posts  #post-container-text-header .text-block.catagory {
    margin-right: 20px;
    margin-left: 7px;
    padding-top: 4px;
    float: right;
    color: #5c5c5c;
}

#posts  #post-container-text-header .text-block.catagory.before {
    padding-top: 4px;
    margin-right: 0px;
    color: #c2c2c2;
}

#posts  #post-container-text-header .hr {
    width: 100%;
    height: 1px;
    background-color: #f3f3f3;
}
#posts #post-container #post-container-text .heading {
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 12px 20px 0px 25px;
    font-family: 'Helveticaneueltstd md', sans-serif;
    color: #6d6d6d;
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
}
#posts #post-container #post-container-text .paragraph-2 {
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 15px 25px;
    font-family: 'Libre Baskerville', sans-serif;
    color: #575757;
    font-size: 11px;
    line-height: 18px;
}

#subscribe{
    padding-top: 20px;
}

#subscribe #subscribe-container{
    border: 1px solid #eee;
    border-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0px;
}

#subscribe #subscribe-header{
    padding: 30px 10px;
}
#subscribe #subscribe-footer{
    padding: 30px 10px;
    background-color: #f6481c;
}

#subscribe #subscribe-footer input{
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: 0px;
    border: 1px solid #eee;
    border-right: transparent;
}

#subscribe #subscribe-footer button{
    padding: 10px 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0px;
    margin-left: -5px;
    background-color: white;
    border: 1px solid #eee;
}

#subscribe #subscribe-footer button:hover{
    color: #f6481c;
}
