@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body{
    font-family: 'varela round', sans-serif;
}
main{
    background: #edeff0;
    padding: 50px 10px;
}
.aside-menu{
    background-color: #2f323a;
    font-size: 14px;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    transition: all 1s ease-in;
}
ul.sidebar-menu{
    margin: -2px 0 0;
    margin-top: 75px;
    padding: 0px;
}
 ol.sub{
    display: none;
    margin: -2px 0 0;
    padding: 0px;
    padding-left: 32px;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -ms-transition:all 0.7s ease;
    transition: all 0.7s ease;
}

.centered{
    text-align: center;
}

 ul.sidebar-menu p a{
    text-decoration: none;
    outline: none;
}

 ul.sidebar-menu h5{
    color: #f2f2f2;
    font-weight: 700;
    font-size: 16px;
}

 ul.sidebar-menu li{
    position: relative;
    margin: 10px 10px 10px 5px;
    list-style: none;
    cursor: pointer;
}

 ul.sidebar-menu li a{
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 15px 0px 15px 10px;
    font-size: 14px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition:all 0.3s ease;
    transition: all 0.3s ease;
}
 ul.sidebar-menu li a.active{
    background: #5fcf80;
    color: #fff;
    display: block;
}

 ol.sub li a.active{
    background: #2f323a;
    color: #5fcf80;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition:all 0.3s ease;
    transition: all 0.3s ease;
}
 ul.sidebar-menu li a:hover{
    background: #5fcf80;
    color: #fff;
    display: block;
}
 ol.sub li a:hover{
    background: #2f323a;
    color: #5fcf80;
    display: block;
}
 ul.sidebar-menu li a i{
    font-size: 15px;
    padding-right: 6px;
}
 ul.sidebar-menu li a span{
    color: #fff;
}
 ul.sidebar-menu li.sub-menu{
    line-height: 15px;
}