@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body{
    font-family: 'varela round', sans-serif;
}

/*main styling goes here*/
main{
    background: #edeff0;
    padding: 50px 2%;
}

/* Header Style goes here*/
section{
    background: #fff;
    margin-top: 40px;
    animation: panel-fade-up 0.4s ease;
    box-shadow: 0 2px 0 rgba(0,0,0,0.06);
    border-radius: 4px;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

section article.header-container {
    background-color: #ea6590 !important;
    color: #fff;
    opacity: 0.7;
    border-radius: 4px 4px 0 0;
}
section .header-container h3{
    font-weight: 600;
}
section .header-container p{
    opacity: 0.7;
}
section .header-container .row{
    min-height: 60vh;
}

section .header-container .header-button{
    background: transparent;
    border: 2px solid #fff;
    opacity: 0.8;
    font-size: 14px;
    height: 40px;
    line-height: 36px;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 3px;
    margin: 5px;
}

section .header-container .header-button:hover{
    opacity: 1;
}

section .main-container .sub-header p{
    padding: 20px 15px 5px 15px;
}

section .main-container .sub-header p span{
    display: inline-block;
    border-radius: 100px;
    background: transparent;
    border: 2px solid rgba(48,73,97,0.1);
    font-weight: 600;
    padding: 0 20px;
    font-size: 13px;
    line-height: 32px;
    white-space: nowrap;
    position: relative;
    text-align: center;
    margin: 5px;
    transition: border-color 0.15s ease, background-color 0.15s ease, color 0.15s ease;
    color: #ea6590;
}

section .main-container .module{
    margin-top: 25px;
}
section .main-container .module .module-icon{
    font-size: 50px;
    font-weight: 200;
    margin-left: 40px;
    margin-right: 15px;
    color: #e7e7e7;
}

section .main-container .module p{
    font-size: 14px;
}

section .main-container .module .module-container{
    padding-left: 15px;
}

section .main-container .module .module-container .step{
    border:1px solid #e7e7e7;
    border-right-color: transparent;
    border-left-color: transparent;
    padding: 20px 5px 15px 5px;
}
section .main-container .module .module-container .step p{
    margin-bottom: 5px;
    font-size: 14px;
}
section .main-container .module .module-container .step .fa-li{
    left: -1.64285714em;
    top: .65285714em;
}
section article.main-container{
    min-height: 60vh;
    border-radius: 0 0 4px 4px;
    padding: 3%;
}

footer{
    padding: 50px 10px 100px 10px;
    background-color: #fff !important;
}

footer h1{
    color: #5fcf80;
    margin-bottom: 2px;
}