#dashboard{
    min-height: 93vh;
    padding: 10px;
}

#dashboard .head .card{
    margin: 10px;
    color: #fff;
    padding: 20px 10px 10px 20px;
}

#dashboard .head .card span{
    padding-left: 25px;
    font-size: 36px;
    font-weight: 500;
}
#dashboard .head .card p{
    margin-top: 10px;
    font-size: 13px;
}

#dashboard .sub-body{
    margin: 25px 15px;
}
#dashboard ul.sub-nav{

    padding: 10px 10px;
    background: #fff;
    margin-bottom: 0px;
}

#dashboard .sub-main{
    background: #fff;
    padding: 10px;
}
#dashboard .sub-nav li{
    display: inline-block;
    list-style: none;
    margin: 3px 10px;
}

.orange-background{
    background-color: #ff8a65;
    border-color: #ff8a65;
}

.teal-background{
    background-color: #4db6ac;
    border-color: #4db6ac;
}

.pink-background{
    background-color: #f06292;
    border-color: #f06292;
}

.purple-background{
    background-color: #9575cd;
    border-color: #9575cd;
}
