/*main styling goes here*/
main{
    background: #edeff0;
    padding: 50px 10px;
}

/* Header Style goes here*/
header{
    background: #fff;
    margin-top: 40px;
    animation: panel-fade-up 0.4s ease;
    box-shadow: 0 2px 0 rgba(0,0,0,0.06);
    border-radius: 4px;
}

header div.header-container{
    padding: 30px 20px;
}
header h2{
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #384047;
}

header p{
    margin-bottom: 20px;
    color: #7b8b8e;
    font-size: 14px;
    line-height: 1.5;
}

header h4{
    font-size: 18px;
    margin-bottom: 10px;
    color: #384047;
    display: block;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

header div.started-button{
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #5fcf80;
    border: solid 2px #5fcf80;
    font-weight: 400;
}

header div.started-button a{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

header div.started-button i{
    font-weight: 200;
    margin-left: 5px;
}
header img{
    margin-top: 20px;
}

/* Search box style goes here */
#searchBox{
    background: #fff;
    animation: panel-fade-up 0.4s ease;
    box-shadow: 0 2px 0 rgba(0,0,0,0.06);
    border-radius: 4px;
    padding: 15px 20px;
}
#searchBox div.search-container{
    padding: 15px 20px;
}
#searchBox div.search-container input{
    width: 100%;
    border: 0px solid transparent;
    outline: none;
}
#searchBox div.search-container div.search-box i{
    margin-right: 20px;
}

.course-module{
    margin-top: 20px;
}
.module-card{
    margin-top: 20px;
    padding: 15px !important;
    border: .3px solid #eee;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    box-shadow:2px 5px 5px -2px hsla(0, 0%, 70%, .14);
    background: #fff;
}

.module-card:hover{
    box-shadow: 4px 9px 9px -2px hsla(0, 0%, 70%, .14);
    transform: translateY(-10px);
    cursor: pointer;
}
.module-card h6{
    font-weight: 600;
    color: #4ECDC4;
    font-size: 18px;
}
.module-card p{
    font-size: 14px;
}

.module-card a{
    padding: 5px 15px;
}
.back-container{
    padding: 20px;
}
.back-container a{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.back-container h3{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}
