<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin-layout">
<head>
    <div layout:fragment="chead">
        <link th:href="@{/css/admin-course-add.css}" rel="stylesheet"/>
    </div>
</head>
<body>

<div layout:fragment="content">
    <section class="container">
        <div class="row" th:if="${successMessage}">
            <div class="col-12">
                <div class="alert alert-success" role="alert">
                    <span th:utext="${successMessage}"></span>
                </div>
            </div>
        </div>
        <div class="row no-gutters form-body light-yellow">
            <div class="col-12 col-md-3 align-self-center form-left text-center">
                <div>
                    <h4>New Course</h4>
                    <p>Short Decription is for displaying in title view</p>
                </div>
            </div>
            <div class="col-12 col-md-9 form-right">
                <form autocomplete="off" action="#" th:action="@{/admin/courses/add}" th:object="${course}" method="post" role="form">
                    <div class="row no-gutters" id="blog-form">
                        <input type="hidden" class="form-control" th:field="*{id}"/>
                        <div class="form-group col-12">
                            <label>Title</label>
                            <input type="text" class="form-control" th:field="*{title}"/>
                            <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger">
                                Please provide a valid title.
                            </div>
                        </div>
                        <div class="form-group col-12">
                            <label>Description</label>
                            <textarea type="text" class="form-control" th:field="*{description}"></textarea>
                            <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger">
                                Please provide a valid description.
                            </div>
                        </div>
                        <div class="form-group col-12">
                            <label>Status</label>
                            <input type="text" class="form-control" th:field="*{status}"/>
                            <div th:if="${#fields.hasErrors('status')}" th:errors="*{status}" class="text-danger">
                                Please provide a valid status.
                            </div>
                        </div>
                        <div class="form-group col-12">
                            <label>Language</label>
                            <input type="text" class="form-control" th:field="*{language}"/>
                            <div th:if="${#fields.hasErrors('language')}" th:errors="*{language}" class="text-danger">
                                Please provide a valid language.
                            </div>
                        </div>
                        <div class="form-group col-12">
                            <label>Start Date</label>
                            <input type="date" class="form-control" th:field="*{start_date}"/>
                        </div>
                        <div class="form-group col-12">
                            <label>Enroll Date</label>
                            <input type="date" class="form-control" th:field="*{enroll_date}"/>
                        </div>
                        <div class="form-group col-12">
                            <label >Skill required</label>
                            <div class="categorySelect">
                                <select  class="form-control" th:field="*{skill_required}">
                                    <option th:value="beginner">Beginner</option>
                                    <option th:value="intermediate">Intermediate</option>
                                    <option th:value="advance">Advance</option>
                                </select>
                            </div>
                            <div th:if="${#fields.hasErrors('skill_required')}" th:errors="*{skill_required}" class="text-danger">
                                Please provide a valid skill required.
                            </div>
                        </div>
                        <div class=" form-group col-12">
                            <label >Trailer Link</label>
                            <input type="text" class="form-control" th:field="*{trailer_link}"/>
                            <div th:if="${#fields.hasErrors('trailer_link')}" th:errors="*{trailer_link}" class="text-danger">
                                Please provide a valid trailer_link.
                            </div>
                        </div>
                        <div class=" form-group col-12">
                            <label >Course Lengthk</label>
                            <input type="number" class="form-control" th:field="*{course_length}"/>
                        </div>
                        <div class="form-group col-12">
                            <label >Category</label>
                            <div class="categorySelect">
                                <select class="form-control" th:field="*{category.id}">
                                    <option th:each="category : ${categorys}" th:value="${category.id}" th:text="${category.title}"/>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-12">
                            <label >Technical Language</label>
                            <div class="categorySelect">
                                <select class="form-control" th:field="*{tech_language.id}">
                                    <option th:each="tech_language : ${languages}" th:value="${tech_language.id}" th:text="${tech_language.title}"/>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

</div>
<div layout:fragment="cscript">
</div>

</body>
</html>