<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin-layout">
<head>
    <div layout:fragment="chead">
        <link th:href="@{/css/admin-form.css}" rel="stylesheet"/>
        <link th:href="@{/css/admin-module.css}" rel="stylesheet"/>
    </div>
</head>
<body>

<div layout:fragment="content">
    <section class="fluid-conatiner">
        <div class="row no-gutters back-container">
            <div>
                <a th:href="@{/admin/courses/{course_id}/modules(course_id=${course.id})}" class="text-black"><i class="fa fa-arrow-left fa-2x text-success"></i></a>
            </div>
            <div class="col">
                <h3 class="text-center">Module( <span th:text="${module.title}" class="text-muted"></span> )</h3>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <form autocomplete="off" action="#" th:action="@{/admin/courses/{course_id}/modules/{module_id}/steps(course_id=${course.id}, module_id=${module.id})}" th:object="${step}" method="post" role="form">
                    <div class="blogTitlePage text-center">
                        <h2> New Step </h2>
                    </div>
                    <div class="row no-gutters" id="blog-form">
                        <input type="hidden" class="form-control" th:field="*{id}"/>
                        <div class="form-group col-12">
                            <label>Title</label>
                            <input type="text" class="form-control" th:field="*{title}"/>
                        </div>
                        <div class="form-group col-12">
                            <label>Description</label>
                            <input type="text" class="form-control" th:field="*{detail}"/>
                        </div>
                        <div class="form-group col-12">
                            <label >Type</label>
                            <div class="categorySelect">
                                <select  class="form-control" th:field="*{type}">
                                    <option th:value="video">Video</option>
                                    <option th:value="assigment">Assigment</option>
                                    <option th:value="test">Test</option>
                                    <option th:value="test">Text</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-12">
                            <label>Link</label>
                            <input type="text" class="form-control" th:field="*{link}"/>
                        </div>

                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12 course-container">
                <div class="course-head">
                    <h5 th:text="${module.title}" class="text-center"></h5>
                    <p th:text="${module.description}" class="text-muted"></p>
                </div>
                <div class="course-module">
                    <h4>Steps</h4>
                    <div class="row no-gutters">
                        <div class="col-12 module-card" th:each="step_item : ${module.steps}">
                            <h6 th:text="${step_item.title}"></h6>
                            <p th:text="${step_item.detail}" class="text-muted"></p>
                            <div class="text-right">
                                <a th:href="@{/admin/courses/{course_id}/modules/{module_id}/steps/{step_id}/edit(course_id=${course.id}, module_id=${module.id}, step_id=${step_item.id})}" class="text-primary"> Edit </a>
                                <a th:href="@{/admin/courses/{course_id}/modules/{module_id}/steps/{step_id}/delete(course_id=${course.id}, module_id=${module.id}, step_id=${step_item.id})}" class="text-danger"> Delete </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div layout:fragment="cscript">
</div>

</body>
</html>