<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin-layout">
<head>
    <div layout:fragment="chead">
        <link th:href="@{/css/admin-language.css}" rel="stylesheet"/>
    </div>
</head>
<body>
    <div layout:fragment="content">
        <section class="container">
            <div class="row" th:if="${successMessage}">
                <div class="col-12">
                    <div class="alert alert-success" role="alert">
                        <span th:utext="${successMessage}"></span>
                    </div>
                </div>
            </div>
            <div class="row no-gutters form-body light-yellow">
                <div class="col-12 col-md-3 align-self-center form-left text-center">
                    <div>
                        <h4>New Language</h4>
                        <p>Language is for displaying in title view</p>
                    </div>
                </div>
                <div class="col-12 col-md-9 form-right">
                    <form autocomplete="off" action="#" th:action="@{/admin/languages}" th:object="${language}" method="post" role="form">
                        <div class="blogTitlePage text-center">
                            <h2> New Language </h2>
                        </div>
                        <div class="row no-gutters" id="blog-form">
                            <input type="hidden" class="form-control" th:field="*{id}"/>
                            <div class="form-group col-12">
                                <label>Title</label>
                                <input type="text" class="form-control" th:field="*{title}"/>
                                <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger">
                                    Please provide a valid title.
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-12 course-container">
                    <div class="course-module">
                        <div class="container-head">
                            <h4>Languages</h4></div>
                        <div class="row no-gutters">
                            <div th:each="lang : ${languages}" class="col-lg-3 col-md-3 col-sm-6 col-12 module-card">
                                <div class="row no-gutters justify-content-around">
                                    <div class="col-8">
                                        <h6><span th:text="${lang.title}"></span></h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        <a th:href="@{/admin/languages/{lang_id}/edit(lang_id=${lang.id})}" class="text-primary"> <i class="fa fa-pencil"></i> </a>
                                        <a th:href="@{/admin/languages/{lang_id}/delete(lang_id=${lang.id})}" class="text-danger"> <i class="fa fa-times"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div layout:fragment="cscript">
    </div>
</body>
</html>