<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin-layout">
<head>
    <div layout:fragment="chead">
        <link th:href="@{/css/admin-courses.css}" rel="stylesheet"/>
    </div>
</head>
<body>

<div layout:fragment="content">
    <section class="fluid-conatiner">
        <h3 class="text-center">Posts</h3>
        <div id="posts">
            <div>
                <section class="row clearfix" id="post-container" th:each="post : ${posts}" >
                    <div class="col-md-6 col-12" id="post-container-image">
                        <div class="type" th:if="${course.pcategory.title}"><span th:text="${course.pcategory.title}"></span></div>
                        <img src="https://i1.ytimg.com/vi/${course.trailer_link}/1.jpg"
                             th:src="@{post.img_link}"
                             class="post-image"/>
                    </div>
                    <div class="col-md-6 col-12" id="post-container-text">
                        <div class="accessories clearfix" id="post-container-text-header">
                            <div class="text-block with">With</div>
                            <div class="text-block" th:if="${post.mentor.firstName}"><span th:text="${post.mentor.firstName}"></span></div>
                            <!--<div class="catagory text-block" th:if="${course.tech_language}"><span th:text="${course.tech_language.title}"></span></div>-->
                            <div class="before catagory text-block">About</div>
                            <div class="hr"></div>
                        </div>
                        <h1 class="heading" th:text="${post.title}"></h1>
                        <p class="paragraph-2" th:text="${post.content}"></p>
                        <div class="text-right">
                            <a th:href="@{/admin/blogs/{blog_id}/edit(blog_id=${post.id})}" class="text-primary"> Edit </a>
                            <a th:href="@{/admin/blogs/{blog_id}/delete(blog_id=${post.id})}" th:method="delete" class="text-danger"> Delete </a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
<div layout:fragment="cscript">
</div>

</body>
</html>