<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin-layout">
<head>
    <div layout:fragment="chead">
        <link th:href="@{/css/admin-track.css}" rel="stylesheet"/>
    </div>
</head>
<body>

<div layout:fragment="content">
    <section class="container" id="courseBox">
        <div class="course-container">
            <div class="text-center container-head">
                <h2>Tracks</h2>
                <p>Browse Track across an array of topics and disciplines.</p>
            </div>
            <div class="row no-gutters" th:if="courses">
                <div class="col-12 col-md-6 col-lg-4" th:each="track : ${tracks}">
                    <div class="course-box">
                        <div class="course-box-head">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <p class="text-left"><i class="fa fa-book"></i> <span>O O O</span></p>
                                </div>
                                <div class="col-6">
                                    <p class="text-right"><span th:text="${track.length}"></span> min</p>
                                </div>
                            </div>
                        </div>
                        <div class="course-box-body">
                            <h6 class="text-muted">Track</h6>
                            <h5 th:text="${track.title}"></h5>
                            <p class="text-muted" th:text="${track.short_content}"></p>
                        </div>
                        <div class="course-box-footer">
                            <div>
                                <small th:if="${track.level}"><span th:text="${track.level}">

                                </span></small>
                                <small th:if="${track.category  }">
                                <span th:text="${track.category.title}">

                                </span></small>
                            </div>
                            <div class="text-right">
                                <a th:href="@{/admin/tracks/{blog_id}/edit(blog_id=${track.id})}" class="text-primary"> Edit </a>
                                <a th:href="@{/admin/tracks/{blog_id}/delete(blog_id=${track.id})}" th:method="delete" class="text-danger"> Delete </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</div>
<div layout:fragment="cscript">
</div>

</body>
</html>