<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin-layout">
<head>
    <div layout:fragment="chead">
        <link th:href="@{/css/admin-form.css}" rel="stylesheet"/>
        <link th:href="@{/css/admin-module.css}" rel="stylesheet"/>
    </div>
</head>
<body>

<div layout:fragment="content">
    <section class="fluid-conatiner">
        <div class="row no-gutters">
            <div class="col-12">
                <form autocomplete="off" action="#" th:action="@{/admin/courses/{id}/modules(id=${course.id})}" th:object="${module}" method="post" role="form">
                    <div class="blogTitlePage text-center">
                        <h2> New Module</h2>
                    </div>
                    <div class="row no-gutters" id="blog-form">
                        <input type="hidden" class="form-control" th:field="*{id}"/>
                        <div class="form-group col-12">
                            <label>Title</label>
                            <input type="text" class="form-control" th:field="*{title}"/>
                        </div>
                        <div class="form-group col-12">
                            <label>Description</label>
                            <input type="text" class="form-control" th:field="*{description}"/>
                        </div>
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12 course-container">
                <div class="course-head">
                    <h5 th:text="${enrollment.course.title}" class="text-center"></h5>
                    <p th:text="${enrollment.course.description}"></p>
                </div>
                <div class="course-module">
                    <h4>Modules</h4>
                    <div class="row no-gutters">
                        <div class="col-12 module-card" th:each="module_item : ${enrollment.course.modules}">
                            <h6 th:text="${module_item.title}"></h6>
                            <p th:text="${module_item.description}" class="text-muted"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div layout:fragment="cscript">
</div>

</body>
</html>