<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Course | Add</title>
    <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/admin-home.css}" rel="stylesheet"/>
    <link th:href="@{/css/admin-course-add.css}" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>

<body>
<div>
    <header class="header black-bg">
        <div class="sidebar-toggle-box" id="asideButton">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <a class="logo"><b><span>SWADHYAY</span></b></a>
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" >Logout</a></li>
            </ul>
        </div>
    </header>

    <aside>
        <div class="nav-collapse" tabindex="5000" id="sidebar">
            <ul class="sidebar-menu" id="nav-accordion" >
                <li><p class="centered">
                    <a>
                        <img class="img-cricle"/>
                    </a>
                </p>
                    <h5 class="centered">Saurabh</h5>
                </li>
                <li class="mt">
                    <a href="/admin/home">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <div>
                        <a id="pathAside">
                            <i class="fa fa-dashboard"></i>
                            <span>Paths</span>
                        </a>
                    </div>
                    <ul class="sub" id="pathAsideSub">
                        <li>
                            <a href="/admin/path/add">Add Path</a>
                        </li>
                        <li>
                            <a href="/admin/path/list">List Paths</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <div>
                        <a id="trackAside">
                            <i class="fa fa-dashboard"></i>
                            <span>Tracks</span>
                        </a>
                    </div>
                    <ul class="sub" id="trackAsideSub">
                        <li>
                            <a href="/admin/track/add">Add Track</a>
                        </li>
                        <li>
                            <a href="/admin/blog/list">List Tracks</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu parent-li" >
                    <div>
                        <a id="blogAside">
                            <i class="fa fa-dashboard"></i>
                            <span>Blog</span>
                        </a>
                    </div>
                    <ul class="sub" id="blogAsideSub">
                        <li>
                            <a href="/admin/blog/add">Add Blog</a>
                        </li>
                        <li>
                            <a href="/admin/blog/list">List Blogs</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu parent-li" >
                    <div>
                        <a id="courseAside">
                            <i class="fa fa-dashboard"></i>
                            <span>Courses</span>
                        </a>
                    </div>
                    <ul class="sub" id="courseAsideSub">
                        <li>
                            <a href="/admin/courses/add">Add Courses</a>
                        </li>
                        <li>
                            <a href="/admin/courses/list">List Courses</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu parent-li" >
                    <div>
                        <a id="categoryAside">
                            <i class="fa fa-dashboard"></i>
                            <span>Courses</span>
                        </a>
                    </div>
                    <ul class="sub" id="categoryAsideSub">
                        <li>
                            <a href="/admin/category/add">Add Category</a>
                        </li>
                        <li>
                            <a href="/admin/category/list">List Category</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu parent-li" >
                    <div>
                        <a id="languageAside">
                            <i class="fa fa-dashboard"></i>
                            <span>Courses</span>
                        </a>
                    </div>
                    <ul class="sub" id="languageAsideSub">
                        <li>
                            <a href="/admin/langauge/add">Add Category</a>
                        </li>
                        <li>
                            <a href="/admin/language/list">List Category</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu parent-li">
                    <div>
                        <a id="mentorAside">
                            <i class="fa fa-dashboard"></i>
                            <span>Mentors</span>
                        </a>
                    </div>
                    <ul class="sub" id="mentorAsideSub">
                        <li>
                            <a>Add Mentors</a>
                        </li>
                        <li>
                            <a>List Mentors</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
    <article id="mainContainer">
        <section class="fluid-conatiner">
            <div class="row no-gutters">
                <div class="col-12">
                    <form autocomplete="off" action="#" th:action="@{/admin/courses/add}" th:object="${course}" method="post" role="form">
                        <div class="blogTitlePage text-center">
                            <h2> New Course </h2>
                        </div>
                        <div class="row no-gutters" id="blog-form">
                            <div class="form-group col-12">
                                <label>Title</label>
                                <input type="text" class="form-control" th:field="*{title}"/>
                            </div>
                            <div class="form-group col-12">
                                <label>Description</label>
                                <input type="text" class="form-control" th:field="*{description}"/>
                            </div>
                            <div class="form-group col-12">
                                <label>Status</label>
                                <input type="text" class="form-control" th:field="*{status}"/>
                            </div>
                            <div class="form-group col-12">
                                <label>Language</label>
                                <input type="text" class="form-control" th:field="*{language}"/>
                            </div>
                            <div class="form-group col-12">
                                <label>Start Date</label>
                                <input type="date" class="form-control" th:field="*{start_date}"/>
                            </div>
                            <div class="form-group col-12">
                                <label>Enroll Date</label>
                                <input type="date" class="form-control" th:field="*{enroll_date}"/>
                            </div>
                            <div class="form-group col-12">
                                <label >Skill required</label>
                                <div class="categorySelect">
                                    <select  class="form-control" th:field="*{skill_required}">
                                        <option th:value="beginner">Beginner</option>
                                        <option th:value="intermediate">Intermediate</option>
                                        <option th:value="advance">Advance</option>
                                    </select>
                                </div>
                            </div>
                            <div class=" form-group col-12">
                                <label >Trailer Link</label>
                                <input type="text" class="form-control" th:field="*{trailer_link}"/>
                            </div>
                            <div class=" form-group col-12">
                                <label >Course Lengthk</label>
                                <input type="number" class="form-control" th:field="*{course_length}"/>
                            </div>
                            <div class="form-group col-12">
                                <label >Category</label>
                                <div class="categorySelect">
                                    <select class="form-control" th:field="*{category.id}">
                                        <option th:each="category : ${categorys}" th:value="${category.id}" th:text="${category.title}"/>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                <label >Technical Language</label>
                                <div class="categorySelect">
                                    <select class="form-control" th:field="*{tech_language.id}">
                                        <option th:each="tech_language : ${languages}" th:value="${tech_language.id}" th:text="${tech_language.title}"/>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                            </div>
                        </div>
                        <!--<div class="text-center spinner" id="spinner">-->
                        <!--<br><br>-->
                        <!--<i class="fa fa-spinner fa-4x fa-spin" aria-hidden="true"></i>-->
                        <!--<br><h4>Please Wait!</h4>-->
                        <!--<br><br><br>-->
                        <!--</div>-->
                        <!--<div class="row" *ngIf="successBlog">-->
                        <!--<div class="col-12">-->
                        <!--<div class="alert alert-success" role="alert">-->
                        <!--<h4><strong> Success : </strong> {{successBlog}}</h4>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row" *ngIf="errBlog">-->
                        <!--<div class="col-12">-->
                        <!--<div class="alert alert-danger" role="alert">-->
                        <!--{{errBlog}}-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                    </form>
                </div>
            </div>
        </section>
    </article>

    <footer class="fluid-container">
        <div class="row no-gutters align-items-center    justify-content-center">
            <div class="col-12 col-lg-3">
                <h1>Swadhyay</h1>
                <p class="text-muted">@Copyright 2017-2018 </p>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <p class="text-muted">About</p>
                <p class="text-muted">Careers</p>
                <p class="text-muted">Terms</p>
                <p class="text-muted">Privacy</p>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <p class="text-muted">Blog</p>
                <p class="text-muted">Press Kit</p>
                <p class="text-muted">Contact</p>
                <p class="text-muted">Catalog</p>
            </div>
        </div>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/admin-home.js}"></script>
</body>
</html>