<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/home-layout">
<head>
    <div layout:fragment="chead">
        <link th:href="@{/css/classroom-course.css}" rel="stylesheet"/>
    </div>
</head>
<body>
<div layout:fragment="content">
    <main role="main" class="fluid-container">
        <div class="row no-gutters" th:if="${enrollment}">
            <div class="col-12 col-md-4 col-lg-3">
                <div>
                    <div class="aside-menu">
                        <ul class="sidebar-menu" id="sideMenu" >
                            <li class="sub-menu" th:each="module:${enrollment.course.modules}">
                                <div>
                                    <a>
                                        <span th:text="${module.title}">Tracks / Path</span>
                                    </a>
                                </div>
                                <ol class="sub" id="trackAsideSub">
                                    <li th:each="step:${module.steps}">
                                        <a th:href="@{/classroom/courses/{enrollment_id}/step/{step_id}(enrollment_id=${enrollment.id}, step_id=${step.id})}"><span th:text="${step.title}"></span></a>
                                    </li>
                                </ol>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-7">
                <div>
                    <!-- Video Container -->
                    <div>

                    </div>
                    <!-- Text Container -->
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<div layout:fragment="cscript">
    <script th:src="@{/js/classroom-course.js}"></script>
</div>
</body>
</html>
