<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Language</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="course: ${courses}">
                <td th:text="{course.title}"></td>
                <td th:text="{course.title}"></td>
                <td th:text="{course.title}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>