<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/home-layout">
<head>
    <div layout:fragment="chead">
        <link th:href="@{/css/course.css}" rel="stylesheet"/>
    </div>
</head>
<body>
<div layout:fragment="content">
    <main role="main" class="fluid-container">
        <section class="container">
            <article class="header-container">
                <div class="row no-gutters align-items-center">
                    <div class="col">
                        <h3>Design Thinking</h3>
                        <p>55-minute Design Course</p>
                        <div>
                            <button>Start course</button>
                            <button>Watch trailer</button>
                        </div>
                    </div>
                </div>
            </article>
            <article class="main-container">
                <div class="sub-header">
                    <ul>
                        <li>Design</li>
                        <li>Beginner</li>
                    </ul>
                </div>
                <!-- HR  -->
                <div></div>

                <!-- Main container -->
                <div class="row no-gutters">
                    <section class="col-12 col-sm-12 col-md-7 col-lg-8">
                        <div class="row">

                            <!-- Description -->
                            <div class="col-12">
                                <h3>About this Course</h3>
                                <p class="text-muted">Learn the user-centered methods and mindsets that entire businesses are using to improve their product experiences. Throughout this course,
                                    we’ll go over how to find the voice of our user, the importance of that voice, and how to create a better experience for our user.</p>
                                <h6>What you'll learn</h6>
                                <ul class="fa-ul">
                                    <li><i class="fa-li fa fa-times"></i>Define design thinking</li>
                                </ul>
                            </div>
                            <!-- Modules -->
                            <div class="col-12">
                                <ul class="fa-ul">
                                    <li>
                                        <i class="fa-li fa fa-times"></i>
                                        <div>
                                            <h6>Becoming a Design Thinker</h6>
                                            <p>Before you can learn design thinking methods, you’ll need to understand the mindsets behind those methods.
                                                We’ll introduce basic terminology and more importantly, we’ll introduce what design thinking is and why you would want to use it.</p>

                                            <p><i class="fa fa-i"></i>steps</p>
                                            <div>
                                                <ul class="fa-ul">
                                                    <li><i class="fa-li fa fa-times"></i>
                                                        <div>
                                                            <p><strong>Becoming a Design Thinker</strong></p>
                                                            <p class="text-muted">2:03</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section class="col-12 col-sm-12 col-md-5 col-lg-4">
                        <div>
                            <h5>Teacher</h5>
                            <div>
                                <div>

                                </div>
                                <div>
                                    <h6 class="text-center">Devin O'Bryan</h6>
                                    <p class="text-muted">
                                        Devin O’Bryan is Creative Director for Project Whitespace at IBM. For the last 4 years, he has been co-creating within IBM Corporate HR and IBM Design’s global education efforts with programs like IBM Design Bootcamp Experiences, IBM Designweek events, as well as building and maintaining the intensive, award-winning Maelstrom internship program from scratch. Devin’s personal mental health journey has informed huge swaths of his educational and professional curricula. As such, authenticity is the cornerstone of Devin’s design and life philosophies, and his patient wife and two kids keep him genuine every single day.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h5>Download videos</h5>
                            <p>You need to sign up for Treehouse in order to download course videos.</p>
                            <div>
                                <button class="btn btn-block">Sign up</button>
                            </div>
                        </div>
                    </section>
                </div>
            </article>
        </section>
    </main>
</div>
<div layout:fragment="cscript">
</div>
</body>
</html>
