<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/home-layout">
<head>
    <div layout:fragment="chead">
        <link th:href="@{/css/course.css}" rel="stylesheet"/>
    </div>
</head>
<body>
<div layout:fragment="content">
    <main role="main" class="fluid-container">
        <section class="container" th:if="${course}">
            <article class="header-container" th:style="'background-image:url(' + @{https://i1.ytimg.com/vi/{trailer_link}/maxresdefault.jpg(trailer_link=${course.trailer_link})} + ');'">
                <div class="row no-gutters align-items-center header-container-inner">
                    <div class="col-12">
                        <h3 class="text-center" th:text="${course.title}"></h3>
                        <p class="text-center"><span th:text="${course.course_length}"></span>-minute <span th:if="${course.category}"><span th:text="${course.category.title}"> </span> </span> Course</p>
                        <div class="text-center">
                            <a class="header-button" data-toggle="modal" data-target="#enroll">Start Course <i class="fa fa-arrow-right"></i></a>
                            <a class="header-button" data-toggle="modal" data-target="#trailer">Watch trailer <i class="fa fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </article>
            <!--Modal-->
            <!--Modal 1-->
            <div class="modal fade" id="trailer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" th:text="${course.title}"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <iframe width="100%" height="400" th:src="@{http://www.youtube.com/embed/{url} (url=${course.trailer_link})}" frameborder="0" alt="no video attached" allowfullscreen="1"></iframe>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal 2 -->
            <div class="modal fade" id="enroll" tabindex="-1" role="dialog" aria-labelledby="enrollLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="enrollLabel">Enroll </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Would you like to register course. To register click on Enroll</p>
                        </div>
                        <div class="modal-footer">
                            <form autocomplete="off" action="#" th:action="@{/classroom/enroll}" th:object="${enrollment}" method="post" role="form">
                                <input type="hidden" class="form-control" th:field="*{course.id}" th:value="${course.id}"/>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Enroll</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <article class="main-container">
                <div class="sub-header">
                    <p>
                        <span th:if="${course.category}"><strong th:text="${course.category.title}"></strong></span>
                        <span th:text="${course.skill_required}"></span>
                    </p>
                </div>
                <!-- HR  -->
                <div></div>

                <!-- Main container -->
                <div class="row no-gutters">
                    <section class="col-12 col-sm-12 col-md-7 col-lg-8">
                        <div class="row main-box">

                            <!-- Description -->
                            <div class="col-12">
                                <h5>About this Course</h5>
                                <p class="text-muted" th:text="${course.description}"></p>
                                <h6>What you'll learn</h6>
                            </div>
                            <!-- Modules -->
                            <div class="col-12 module">
                                <ul class="fa-ul">
                                    <li th:each="module : ${course.modules}">
                                        <i class="fa-li fa fa-arrow-circle-o-right module-icon"></i>
                                        <div class="module-container">
                                            <h5 th:text="${module.title}"></h5>
                                            <p th:text="${module.description}"></p>

                                            <p class="text-warning" id="stepButton"><i class="fa fa-angle-down"></i> Steps</p>
                                            <div id="stepContainer">
                                                <ul class="fa-ul">
                                                    <li class="step" th:each="step : ${module.steps}">
                                                        <i class="fa-li text-muted fa fa-play-circle-o" th:if="${step.type == 'video'}"></i>
                                                        <i class="fa-li text-muted fa fa-file-text-o" th:if="${step.type == 'text'}"></i>
                                                        <i class="fa-li text-muted fa fa-file-code-o" th:if="${step.type == 'assigment'}"></i>
                                                        <div >
                                                            <p><strong th:text="${step.title}"></strong></p>
                                                            <p class="text-muted" th:text="${step.length}">2:03</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section class="col-12 col-sm-12 col-md-5 col-lg-4">
                        <div class="teacher-box">
                            <h6>Teacher</h6>
                                <div class="teacher-main" th:if="${course.mentor}">
                                    <h6 th:text="${course.mentor.name}"></h6>
                                    <p class="text-muted" th:text="${course.mentor.about}">

                                    </p>
                                </div>
                            <div class="teacher-bottom">
                                <h6>Download videos</h6>
                                <p class="text-muted">You need to sign up for Treehouse in order to download course videos.</p>
                                <div>
                                    <button class="btn btn-block">Sign up</button>
                                </div>
                            </div>

                        </div>
                    </section>
                </div>
            </article>
        </section>
    </main>
</div>
<div layout:fragment="cscript">
    <script th:src="@{/js/course.js}"></script>
</div>
</body>
</html>
