<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/home-layout">
<head>
    <div layout:fragment="chead">
        <link th:href="@{/css/fourms.css}" rel="stylesheet"/>
    </div>
</head>
<body>
<div layout:fragment="content">
    <main role="main" class="fluid-container">
        <div class="container">
            <header>
                <div class="row">
                    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                        <input type="text" placeholder="Search" />
                    </div>
                    <div class="col-12 col-sm-4 col-md-6 col-lg-8">

                    </div>
                </div>
            </header>
            <section>
                <div class="row">
                    <div class="col-12">
                        <div class="row no-gutters">
                            <div class="col">
                                <div></div>
                            </div>
                            <div class="col">
                                <h6>public method</h6>
                                <p class="text-muted">Posted 21 minutes ago by trae rhodes</p>
                                <ul>
                                    <li>Java</li>
                                    <li>Java objects</li>
                                </ul>
                            </div>
                            <div class="col">
                                <h6 class="text-center">0</h6>
                                <p class="text-center text-muted">Answers</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>
<div layout:fragment="cscript">
</div>
</body>
</html>
