<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/home-layout">
<head>
    <div layout:fragment="chead">
        <link th:href="@{/css/fourm.css}" rel="stylesheet"/>
    </div>
</head>
<body>
<div layout:fragment="content">
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            height: 200,
            theme: 'modern'
        });
    </script>
    <main role="main" class="fluid-container">
        <div class="container">
            <div th:if="${question}">
                <h3 th:text="${question.question}"></h3>
                <p th:utext="${question.description}"></p>
                <p class="text-muted">Posted <span th:text="${question.created_at}"></span> by <span th:text="${question.student.name}"></span></p>
            </div>
            <div>
                <h5>Answers</h5>
                <ul>
                    <li th:each="answer:${answers}">
                        <p th:utext="${answer.answer}"></p>
                        <p class="text-muted" th:text="${answer.created_at}"></p>
                    </li>
                </ul>
            </div>

            <div class="row" th:if="${successMessage}">
                <div class="col-12">
                    <div class="alert alert-success" role="alert">
                        <span th:text="${successMessage}"></span>
                    </div>
                </div>
            </div>
            <div class="row no-gutters form-body light-yellow">
                <div class="col-12 col-md-3 align-self-center form-left text-center">
                    <div>
                        <h4>Answer</h4>
                        <p>Please answer relevant to query</p>
                    </div>
                </div>
                <div class="col-12 col-md-9 form-right">
                    <form autocomplete="off" action="#" th:action="@{/fourms/{id}/answer(id=${question.id})}" th:object="${fanswer}" method="post" role="form">
                        <div class="row no-gutters" id="blog-form">
                            <input type="hidden" class="form-control" th:field="*{id}"/>
                            <div class="form-group col-12">
                                <label>Answer</label>
                                <textarea type="text" class="form-control" th:field="*{answer}"></textarea>
                                <div th:if="${#fields.hasErrors('answer')}" th:errors="*{answer}" class="text-danger">
                                    Please provide a valid answer.
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-secondary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
<div layout:fragment="cscript">
</div>
</body>
</html>
