<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Sawdhyay</title>
    <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/home.css}" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>

<body>

<nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand" href="#"> SAWDHYAY </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="fluid-container">
    <header>
        <div class="container">
            <div class="row no-gutters align-items-center">
                <div class="col-12 col-md-12 col-lg-6" id="headerLeft">
                    <h1>
                        Enjoy theory and lab at the same time, right here online
                    </h1>
                    <p>
                        Swadhyay offers aii time free access to our course library!
                        Choose from 1,000s of hours of content, from c to
                        operating system to machines. Learn to code as well as
                        concepts and get the skills you need to launch a new
                        career.
                    </p>
                </div>
                <div class="col-12 col-md-12 col-lg-6" id="headerRight">
                    <div>
                        <div class="head">
                            <h5 class="text-center">REGISTER</h5>
                        </div>
                        <div class="row no-gutters">
                            <div class="form-group col-12 col-md-6">
                                <label>First name</label>
                                <input type="text" class="form-control" placeholder=""/>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="lastName">Last name</label>
                                <input type="text" class="form-control" id="lastName" placeholder=""/>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="emailAddress">Email address</label>
                                <input type="email" class="form-control" id="emailAddress" placeholder=""/>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder=""/>
                            </div>
                            <div class="col-12">
                                <div class="hr">

                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn btn-block btn-success btn-lg">Register</button>
                                <p class="text-muted text-left">You are agreeing to our Terms and Services</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- About Us -->
    <section id="about">
        <article >
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-3 col-xl-5 col-12">
                    </div>
                    <div class="col">
                        <p class="about-heading display-4">About <span>Us</span></p>
                        <p class="p-first">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        <div class="hr-about"></div>

                        <p class="p-second"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                        <button>LEARN MORE</button>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <!-- section 1 -->
    <section class="container" id="how">
        <div class="text-center head">
            <h2>How Swadhyay Works</h2>
            <p class="text-muted">Achieve your dreams and change the world</p>
        </div>
        <div class="how-body">
            <div class="row justify-content-center">
                <div class="col-11 col-sm-8 col-md-5 col-lg-4 how-learn">

                </div>
                <div class=" col-lg-1">

                </div>
                <div class="col-11 col-sm-8 col-md-5 col-lg-4">
                    <h5>Learn</h5>
                    <p class="text-muted">Learn from over 1000 videos created by expert teachers on web design, coding, business, and much more.
                        Our library is continually refreshed with the latest on web technology so you'll never fall behind.</p>
                </div>
            </div>
            <div class="row no-gutters justify-content-center">
                <div class="col-11 col-sm-8 col-md-5 col-lg-4 order-md-3 how-practice">

                </div>
                <div class="col-11 col-md-5 col-lg-4 col-sm-8 order-md-1">
                    <h5>Practice</h5>
                    <p class="text-muted">Practice what you've learned through quizzes and interactive Code Challenges.
                        This style of practicing will allow you to retain information you've learned so you can apply it to your own future projects.</p>
                </div>
                <div class="col-lg-1 order-md-2">

                </div>
            </div>
            <div class="row no-gutters justify-content-center">
                <div class="col-12 col-md-5 col-sm-8 col-lg-4 how-earn">

                </div>
                <div class=" col-lg-1">

                </div>
                <div class="col-12  col-sm-8 col-md-5 col-lg-4">
                    <h5>Earn</h5>
                    <p class="text-muted">You'll earn badges as you journey through our extensive library of courses. These badges are
                        an indicator of what skills you currently possess and are viewable by anyone (even recruiters from big companies!).</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 2 -->
    <section class=" stuff">
        <div id="stuff" class="container">
            <div class="text-center head">
                <h2>Some of the Awesome Stuff You'll Learn</h2>
                <p class="text-muted">The fast, easy, and affordable way to build your skills</p>
            </div>
            <div class="stuff-body">
                <div class="row no-gutters justify-content-center">
                    <div class="col-12 col-md-5 col-lg-4">
                        <div class="stuff-card">
                            <div class="stuff-card-head">
                                <img th:src="@{/assets/home-start.png}"/>
                            </div>
                            <div class="text-center">
                                <h5>Start learning today</h5>
                                <p class="text-muted">Start to learn the basics to build the concept
                                    with an introduction to text books, basic steps, and advanced concepts.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-lg-4">
                        <div class="stuff-card">
                            <div class="stuff-card-head">
                                <img th:src="@{/assets/home-pick.png}"/>
                            </div>
                            <div class="text-center">
                                <h5>Pick your subject</h5>
                                <p class="text-muted">Choose the best subject from the rich library and study to improve your skills
                                    and to enhance the depth of knowledge and concepts.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-lg-4">
                        <div class="stuff-card">
                            <div class="stuff-card-head">
                                <img th:src="@{/assets/home-test.png}"/>
                            </div>
                            <div class="text-center">
                                <h5>Test your knowledge</h5>
                                <p class="text-muted">Test the core knowledge of the subjects and assess your performance with relevant
                                    set of questions and test-series to get your concepts updated.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Semi footer style goes here -->
    <section class="semi">
        <div id="semi" class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6">
                    <div class="semi-container">
                        <h5>A superior experience</h5>
                        <p class="text-muted"><i class="fa fa-check-circle"></i> Learn from 100+ high quality video courses</p>
                        <p class="text-muted"><i class="fa fa-check-circle"></i> Practice  with our Code Challenge Engine</p>
                        <p class="text-muted"><i class="fa fa-check-circle"></i> Get help in our members-only forums</p>
                        <div class="text-center">
                            <button class="btn btn-lg btn-info btn-block">Start now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="fluid-container">
    <div class="row no-gutters align-items-center    justify-content-center">
        <div class="col-12 col-lg-3">
            <h1>Swadhyay</h1>
            <p class="text-muted">@Copyright 2017-2018 </p>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <p class="text-muted">About</p>
            <p class="text-muted">Careers</p>
            <p class="text-muted">Terms</p>
            <p class="text-muted">Privacy</p>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <p class="text-muted">Blog</p>
            <p class="text-muted">Press Kit</p>
            <p class="text-muted">Contact</p>
            <p class="text-muted">Catalog</p>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>