<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Sawdhyay</title>
    <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/home.css}" rel="stylesheet"/>
</head>

<body>

<nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand" href="#"> SAWDHYAY </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="fluid-container">
    <header>
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12 col-md-12 col-lg-6" id="headerLeft">
                    <h1>
                        Learn Web Design, Coding and Much More
                    </h1>
                    <p>
                        Treehouse offers a 7-day free trial to our course library! Choose from 1,000s of hours of content,
                        from JavaScript to Python to iOS. Learn to code and get the skills you need to launch a new career.
                    </p>
                </div>
                <div class="col-12 col-md-12 col-lg-6" id="headerRight">
                    <div>
                        <div class="head">
                            <h5 class="text-center">REGISTER</h5>
                        </div>
                        <div class="row no-gutters">
                            <div class="form-group col-12 col-md-6">
                                <label>First name</label>
                                <input type="text" class="form-control" placeholder=""/>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="lastName">Last name</label>
                                <input type="text" class="form-control" id="lastName" placeholder=""/>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="emailAddress">Email address</label>
                                <input type="email" class="form-control" id="emailAddress" placeholder=""/>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder=""/>
                            </div>
                            <div class="hr col-12"></div>
                            <div class="col-12 text-center">
                                <button class="btn btn-block btn-success btn-lg">Register</button>
                                <p class="text-muted text-left">You are agreeing to our Terms and Services</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>