<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/home-layout">
<head>
    <div layout:fragment="chead">
        <link th:href="@{/css/signin.css}" rel="stylesheet"/>
    </div>
</head>
<body>
<div layout:fragment="content">
    <main role="main" class="fluid-container">
        <div id="login-page">
            <div class="container">
                <form class="form-login" autocomplete="off" action="#" th:action="@{/auth/signup}"
                      th:object="${user}" method="post"
                      role="form">
                    <h2 class="form-login-heading">sign up now</h2>
                    <div class="login-wrap" id="form">
                        <div class="textBox">
                            <input class="text" type="email" th:field="*{email}" onkeyup="this.setAttribute('value', this.value);" value=""/>
                            <label class="label">Email</label>
                            <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error text-right"></label>
                        </div>
                        <div class="textBox">
                            <input class="text" type="text" th:field="*{firstName}" onkeyup="this.setAttribute('value', this.value);" value=""/>
                            <label class="label">First Name</label>
                            <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error text-right"></label>
                        </div>
                        <div class="textBox">
                            <input class="text"  type="text" th:field="*{lastName}" onkeyup="this.setAttribute('value', this.value);" value=""/>
                            <label class="label">Last Name</label>
                            <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error text-right"></label>
                        </div>
                        <div class="textBox">
                            <input class="text" type="password" th:field="*{password}" onkeyup="this.setAttribute('value', this.value);" value="" />
                            <label class="label">Password</label>
                            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error text-right"></label>
                        </div>
                        <button class="btn btn-theme btn-block" type="submit">
                            <i class="fa fa-lock"></i> SIGN UP</button>
                        <hr/>
                        <div class="registration text-center">
                            Already have an account?
                            <br/>
                            <a  href="/auth/signin">
                                Signin
                            </a>
                        </div>
                        <div class="row" th:if="${successMessage}">
                            <div class="col-12">
                                <div class="alert alert-success" role="alert">
                                    <span th:utext="${successMessage}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- modal -->
                </form>
            </div>
        </div>
    </main>
</div>
<div layout:fragment="cscript">
</div>
</body>
</html>