<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/home-layout">
<head>
    <div layout:fragment="chead">
        <link th:href="@{/css/tracks.css}" rel="stylesheet"/>
    </div>
</head>
<body>
<div layout:fragment="content">
    <main role="main" class="fluid-container">
        <div class="container">
            <div>
                <h6>Most Popular</h6>
                <p class="text-muted">These are some of the most common tracks students start with.</p>
                <div class="row no-gutters">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="course-box">
                            <div class="course-box-head">
                                <div class="row no-gutters">
                                    <div class="col-6">
                                        <p class="text-left"><i class="fa fa-book"></i> <span>O O O</span></p>
                                    </div>
                                    <div class="col-6">
                                        <p class="text-right">75 min</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course-box-body">
                                <h6 class="text-muted">Course</h6>
                                <h5>Java Hibernate with jpa configuration</h5>
                                <p class="text-muted">jdfd df fddfhjfdhjfdhj fd df fddf sdkjsdjksd sd jdfd df fddfhjfdhjfdhj fd df fddf sdkjsdjksd sd</p>
                            </div>
                            <div class="course-box-footer">
                                <div>
                                <span>
                                    Python
                                </span>
                                    <span>
                                    Beginner
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="course-box">
                            <div class="course-box-head">
                                <div class="row no-gutters">
                                    <div class="col-6">
                                        <p class="text-left"><i class="fa fa-book"></i> <span>O O O</span></p>
                                    </div>
                                    <div class="col-6">
                                        <p class="text-right">75 min</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course-box-body">
                                <h6 class="text-muted">Course</h6>
                                <h5>Java Hibernate with jpa configuration</h5>
                                <p class="text-muted">jdfd df fddfhjfdhjfdhj fd df fddf sdkjsdjksd sd jdfd df fddfhjfdhjfdhj fd df fddf sdkjsdjksd sd</p>
                            </div>
                            <div class="course-box-footer">
                                <div>
                                <span>
                                    Python
                                </span>
                                    <span>
                                    Beginner
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<div layout:fragment="cscript">
</div>
</body>
</html>
