<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary">
    <nb-card-header>
        <h3 id="title" class="text-center">Sign Up</h3>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="signUpFrom" (ngSubmit)="register()">
            <nb-alert *ngIf="error" role="alert" status="danger">{{ error }}</nb-alert>
            <div class="form-control-group mb-3">
                <label class="label">Email address:</label>
                <input nbInput fullWidth placeholder="Email address" fieldSize="large" formControlName="email"
                [status]="signUpFrom.controls['email'].dirty ? (signUpFrom.controls['email'].invalid  ? 'danger' : 'success') : 'basic'">
            </div>

            <div class="form-control-group mb-3">
                <label class="label">Full Name:</label>
                <input nbInput fullWidth placeholder="Full Name" fieldSize="large" formControlName="name"
                [status]="signUpFrom.controls['name'].dirty ? (signUpFrom.controls['name'].invalid  ? 'danger' : 'success') : 'basic'">
            </div>

            <div class="form-control-group mb-3">
                <label class="label">Password:</label>
                <input nbInput fullWidth type="password" placeholder="Password" fieldSize="large" formControlName="password"
                [status]="signUpFrom.controls['password'].dirty ? (signUpFrom.controls['password'].invalid  ? 'danger' : 'success') : 'basic'">
            </div>

            <div class="form-control-group mb-3">
                <label class="label">Confirm Password:</label>
                <input nbInput fullWidth type="password" placeholder="Confirm Password" fieldSize="large" formControlName="cpassword"
                [status]="signUpFrom.controls['cpassword'].dirty ? (signUpFrom.controls['cpassword'].invalid  ? 'danger' : 'success') : 'basic'">
            </div>

            <button nbButton fullWidth outline status="primary" size="large" [disabled]="!signUpFrom.valid">
                Sign Up
            </button>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <p class="another-action text-center" aria-label="Register">
            Already have an account? <a class="text-link" routerLink="../signin">Sigin</a>
        </p>
    </nb-card-footer>
</nb-card>